<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymelead.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header" class="header"><!<!-- Etiqueta para ofrecerle al info de que es un encabezado -->
            <nav class="nav"><!<!-- Etiqueta para señalar que es un menú -->
                <a th:href="@{/}" class="logo nav-link">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/cliente/listado}" 
                           th:text="#{plantilla.clientes}">Clientes</a>
                    </li>
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/categoria/listado}" 
                           th:text="#{plantilla.categorias}">Categorias</a>
                    </li>
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/articulo/listado}" 
                           th:text="#{plantilla.articulos}">Articulos</a>
                    </li>
                </ul>
            </nav>
        </header>
        <footer th:fragment="footer" class="footer">
            <p>&COPY [[#{plantilla.derechos}]]
                <a  th:href="@{/(lang=es)}">ES</a> |
                <a  th:href="@{/(lang=en)}">EN</a>
            </p>
        </footer>
    </body>
</html>
