<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymelead.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Listado de Clientes</h2>
        <br>
        <a th:href="@{/nuevoCliente}">Nuevo Cliente</a>
        <br>
        <div th:if='${clientes != null and !clientes.empty}'>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each='item : ${clientes}'>
                    <td th:text='${item.nombre}'></td>
                    <td th:text='${item.apellidos}'></td>
                    <td th:text='${item.correo}'></td>
                    <td th:text='${item.telefono}'></td>
                    <td><a th:href='@{/modificarCliente/} + ${item.idCliente}'>Modificar</a></td>
                    <td><a th:href='@{/eliminarCliente/} + ${item.idCliente}'>Eliminar</a></td>
                </tr>
            </tbody>
        </table>
        </div>
        <div th:if="${clientes == null or clientes.empty}">
            La lista de clientes esta vacia
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
