<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http//wwww.w3.org/1999/xhtml">    
    <head>        
        <title>TechShop</title>        
        <meta charset="UTF-8">        
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>    
    </head>    
    <body>        
        <header th:replace="layout/plantilla :: header" />        
        <div class="contenido">            
            <h2 th:text="#{index.titulo}">Nuestros Articulos</h2>            
            <a th:href="@{/articulo/nuevo}" sec:authorize="hasRole('ROLE_ADMIN')">Nuevo Articulo</a>            
            <div th:if="${articulos != null and !articulos.empty}">                
                <table border="1">                    
                    <thead>                        
                        <tr>                            
                            <th th:text="#{articulo.descripcion}">Descripción</th>                            
                            <th th:text="#{articulo.precio}">Precio</th>   
                            <th th:text="#{articulo.comprar}">Comprar</th>
                        </tr>                    
                    </thead>                    
                    <tbody>                        
                        <tr th:each="item : ${articulos}">                            
                            <td th:text="${item.descripcion}"></td>                                                                               
                            <td th:text="${#numbers.formatDecimal(item.precio, 3, 2)}"></td>                            
                            <td><a th:href="@{/carrito/agregar/} + ${item.idArticulo}" th:text="#{accion.agregar}">Agregar</a></td>                                                    
                        </tr>                    
                    </tbody>                
                </table> 
            </div>  
        </div>            
        <div th:if="${articulos == null or articulos.empty}" th:text="#{articulo.no_mostrar}">                
            No tenemos lista de articulos que mostrar...
        </div>   
        <footer th:replace="layout/plantilla :: footer" />    
    </body>
</html>